<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
  </startup>
  <appSettings>
    <add key="SshHost" value="YOUR_IP_SERVER"/>
    <add key="SshPort" value="YOUR_PORT_SSH_SERVER"/>
    <add key="SshUser" value="YOUR_SshUser"/>
    <add key="MaxTunnels" value="5"/>
    <add key="HeartbeatIntervalMs" value="30000"/>
    <!-- format: remoteHost:remotePort:localHost:localPort,remoteHost2:remotePort2:localHost2:localPort2 -->
    <add key="Tunnels" value="remoteHost:remotePort:localHost:localPort,remoteHost2:remotePort2:localHost2:localPort2"/>
  </appSettings>
</configuration>
